main.album {
  display: flex;
  flex-direction: column;
  align-items: center;

  > section {
    max-width: $max_with2;
    width: 100%;
    margin-bottom: 0.5rem;

    h1 {
      text-align: center;
    }
  }
  > section.left {
    max-width: $max_with2;
    width: 100%;
    margin-bottom: 0.5rem;
    float: right;
    // display: flex;

    h1 {
      text-align: left;
    }

    > img {
      height: 150px;
      padding: 1rem;
      margin-right: 1rem;
      float: left;
    }
  }
  > section.right {
    max-width: $max_with2;
    width: 100%;
    margin-bottom: 0.5rem;
    float: right;
    // display: flex;

    h1 {
      text-align: left;
    }

    > img {
      height: 150px;
      padding: 1rem;
      margin-right: 1rem;
      float: right;
    }
  }
}
