body {
  footer {
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    background-color: grey;
    div {
      max-width: $max_with2;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      section {
        display: flex;
        gap: 2vh;
        max-width: $max_with2;
        justify-content: center;
        flex-direction: column;
        h1 {
          color: white;
        }
        a {
          display: flex;
          flex-direction: column;
          text-align: center;
          text-decoration: none;
          color: white;
        }
        ul {
          li {
            text-align: center;
            list-style: none;
            color: white;
            font-family: "Montserrat";
            font-weight: normal;
          }
        }
      }
    }
  }
}
