.btn_form {
  border: 0.01em solid $color_red;
  color: $color_red;
}
section.date {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

main.reserv {
  section {
    form {
      margin-top: -2em;
      div.formu {
        gap: 0 !important;
        display: flex;
        align-items: center;
      }
      div.btn_formu{
        gap: 0.5em !important;
        display: flex;
        align-items: center;
      }
      display: flex;
      align-items: center;
      flex-direction: column;

      label {
        width: 200px;
        text-align: right;
      }
      input {
        padding: 0;
        margin: 0.5em;

        max-height: 1.5em;
      }
      select {
        padding: 0;
        margin: 0.5em;
        width: 145px;
        max-height: 1.5em;
      }
      #date_fld {
        text-align: center;
        font-family: "Montserrat";
        font-weight: normal;
        width: 145px;
      }
    }
  }
  h1 {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 1rem;
  }
  div {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    gap: 5em;

    table {
      border-spacing: 1em;

      td {
        text-align: start;
        font-family: "Montserrat";
        font-weight: normal;
      }
    }
    article {
      a {
        text-decoration: none;
        width: 175px;
        color: inherit;
        display: flex;
        
        &:hover {
          color: $color_red;
        }
      }
      h2 {
        margin: 0;
      }
    }
  }
  h3.reservation {
    display: flex;
    align-self: center;
                position: relative;
                background-color: white;
                font-weight: 300;
                color: $color-red;
                text-transform: capitalize;
                letter-spacing: 5px;
                padding: 0.5em;

  } 
  h3.reservation:after { 
    content: "";
    background-color: #464D57;
    opacity: 0.8;
    display: block;
    position: absolute;
    top: 50%;
    left: -15%;
    height: 1px;
    width: 420px;
    flex: 1;
    z-index: -1;
     
    } 
  
}
