.reservation {
  color: $color_red;
}

.btn_form {
  border: 0.01em solid $color_red;
  color: $color_red;
}

section.date {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

section form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

form label {
  display: block;

  text-align: right;
}

input {
  padding: 0;
  margin: 0;

  max-height: 1.5em;
}

select {
  padding: 0;
  margin: 0;

  max-height: 1.5em;
}

h3.reservation {
  display: flex;
  justify-content: flex-start;
  margin-left: 15%;
}

table {
  td {
    text-align: center;
    font-family: "Montserrat";
    font-weight: normal;
  }
}

div {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  gap: 5em;

  article {
    a {
      text-decoration: none;
      color: inherit;
      display: flex;
      &:hover {
        color: $color_red;
      }
    }
    h2 {
      margin: 0;
    }
  }
}

#date_fld {
  text-align: center;
  font-family: "Montserrat";
  font-weight: normal;
}
//  html {
//   background-color: navy;
// }
