$max_with1: 980px; // max with 980px
$max_with2: 1440px; // max with 1440px
$color_red: rgb(160, 11, 11); // red

@import "_header.scss";
@import "_footer.scss";
@import "_reservation.scss";
@import "_index.scss";
@import "_album.scss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald:wght@500;700&display=swap");

:root {
  font-size: 16px;
}

body {
  padding: 0;
  margin: 0;
  h1 {
    color: black;
    font-family: "Oswald";
    font-size: 2em;
    text-transform: uppercase;
  }
  h2 {
    color: black;
    font-family: "Oswald";
    font-size: 1.5em;
  }
  h3 {
    color: $color_red;
    font-family: "Montserrat";
    font-weight: normal;
    text-transform: uppercase;
    font-size: 1em;
  }
  label {
    color: rgb(0, 0, 0);
    font-family: "Montserrat";
    font-weight: normal;
    text-transform: uppercase;
  }
  a {
    font-family: "Montserrat";
    font-weight: normal;
  }
  p {
    font-family: "Montserrat";
    font-weight: normal;
  }
  .btn {
    border: 0.01em solid $color_red;
    color: $color_red;
    padding-left: 1em;
    padding-right: 1em;
    &:hover {
      background-color: $color_red;
      color: white;
    }
  }
}

//ASSIDE
main {
  aside {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 10vh;
    right: 0;
    a {
      margin: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: white;
      border-radius: 100vh;
      height: 5vh;
      width: 5vh;
      font-size: 1.5em;
      text-decoration: none;
      i {
        color: black;
      }
    }
  }
}
